.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 7rem;
}

.business-info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.business-map-container {
  width: 60%;
  height: 40rem;
}

.business-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.business-info-title {
  display: block;
  font-family: var(--font-primary);
  font-size: var(--font-medium);
  font-weight: bold;
  color: var(--font-color-primary);
  text-align: center;
}

.business-info-hours {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.business-info-hours-item {
  font-family: var(--font-primary);
  font-size: var(--font-extra-small);
  color: var(--font-color-primary);
  text-align: center;
  line-height: 1.5;
}

.business-info-hours-email,
.business-info-hours-email:active,
.business-info-hours-email:visited {
  text-decoration: none;
  font-family: var(--font-primary);
  font-size: var(--font-extra-small);
  color: var(--font-color-primary);
  padding-bottom: 0;
  border-bottom: none;
  transition: all 0.2s;
}

.business-info-hours-email:hover {
  color: var(--font-color-primary);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--font-color-primary);
}

@media only screen and (max-width: 900px) {
  .business-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
  }

  .business-info-title {
    font-size: var(--font-small);
  }

  .business-info-hours-item {
    font-size: 1.5rem;
  }

  .business-info-hours-email,
  .business-info-hours-email:active,
  .business-info-hours-email:visited {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .business-info-container {
    flex-direction: column-reverse;
    row-gap: 3rem;
  }

  .business-map-container {
    width: 90%;
    height: 40rem;
  }

  .business-info {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .business-map-container {
    width: 90%;
    height: 30rem;
  }
}
