.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  /* border-bottom: 2px solid var(--font-color-primary); */
}

.footer-nav-link,
.footer-nav-link:active,
.footer-nav-link:visited {
  text-decoration: none;
  font-family: var(--font-primary);
  font-size: var(--font-small);
  color: var(--font-color-primary);
  padding-bottom: 0;
  border-bottom: none;
  transition: all 0.2s;
}

.footer-nav-link:hover {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--font-color-primary);
}

.footer-socials {
  padding: 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--font-color-primary);
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
  font-size: var(--font-extra-small);
  color: var(--font-color-primary);
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.footer-icon-link,
.footer-icon-link:active,
.footer-icon-link:visited {
  text-decoration: none;
  font-size: var(--font-medium);
  color: var(--font-color-primary);
  transition: all 0.2s;
}

.footer-icon-link:hover {
  transform: translateY(-0.7rem);
}

@media only screen and (max-width: 600px) {
  .footer-nav-link,
  .footer-nav-link:active,
  .footer-nav-link:visited {
    font-size: var(--font-extra-small);
  }
  .footer-copyright {
    font-size: var(--font-mini);
  }
}

@media only screen and (max-width: 500px) {
  .footer-nav-link,
  .footer-nav-link:active,
  .footer-nav-link:visited {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .footer-socials {
    padding: 2rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }
}
