:root {
  --font-primary: "Old Standard TT", serif;
  --font-color-primary: #3b3b3b;

  --font-large: 5rem;
  --font-medium: 3rem;
  --font-small: 2.5rem;
  --font-extra-small: 2rem;
  --font-mini: 1.3rem;
}

.page {
  padding: 0 3rem;

  display: flex;
  flex-direction: column;
  row-gap: 6rem;
  /* align-items: center; */
}

@media only screen and (max-width: 500px) {
  .page {
    row-gap: 3rem;
    /* align-items: center; */
  }
}
